<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <title>新闻管理-首页</title>
</head>

<body>
  <div class="container">
    <!-- flash消息 -->
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{message}}
    </div>
    {% endfor %}
    <!-- //flash消息 -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">新闻后台管理</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/news/add">
                <i class="glyphicon glyphicon-plus"></i> 新闻
              </a>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search" action="/admin">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="输入关键词搜索" name="title" value="{{title}}">
            </div>
            <button type="submit" class="btn btn-default">开始搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">关于我们</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">个人信息</a></li>
                <li><a href="#">修改密码</a></li>
                <li class="divider"></li>
                <li><a href="#">退出登录</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href="/admin" class="list-group-item active">管理新闻</a>
          <a href="/admin/news/add" class="list-group-item">新增新闻</a>
          <a href="/admin/comment" class="list-group-item">管理评论</a>
        </div>
      </div>
      <div class="col-md-9">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>编号</th>
              <th>新闻标题</th>
              <th>类别</th>
              <th>添加时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% for item in page_data.items %}
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.title}}</td>
              <td>{{item.news_type}}</td>
              <td>{{item.created_at}}</td>
              <td><a class="btn btn-info" href="/admin/news/update/{{item.id}}">修改</a>
                <a class="btn btn-danger" data-url="/admin/news/delete/{{item.id}}" href="javscript:;">删除</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <nav>
          <span>总共{{page_data.pages}}页, 总共{{page_data.total}}记录</span>
          <ul class="pagination">
            {% if page_data.has_prev %}
            <li><a href="/admin/{{page_data.prev_num}}"><<</a></li>
            {% else %}
            <li class="disabled"><a href=""><<</a></li>
            {% endif %}
            {% for page in page_data.iter_pages() %}
              {% if page == page_data.page %}
              <li class="active"><a href="">{{page}}</a></li>
              {% else %}
              <li><a href="/admin/{{page}}">{{page}}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_data.has_next %}
            <li><a href="/admin/{{page_data.next_num}}">>></a></li>
            {% else %}
            <li class="disabled"><a href="">>></a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <script src="/static/jquery.1.10.2.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  <script>
    $(function () {
      $('.btn-danger').on('click', function () {
        var btn = $(this);

        if (confirm('确定删除该记录吗？')) {
          $.post(btn.attr('data-url'), function (data) {
            if (data === 'yes') {
              btn.parents('tr').hide();
            } else {
              alert('删除失败');
            }
          })
        }
      })
    })
  </script>
</body>

</html>