<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    {% block head %}
    <title>首页</title>
    {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>

<body>
    <!-- 页面头部 -->
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">首页</a></li>
                <li><a href="{{url_for('cat', news_type='本地')}}">本地</a></li>
                <li><a href="{{url_for('cat', news_type='百家')}}">百家</a></li>
                <li><a href="{{url_for('cat', news_type='娱乐')}}">娱乐</a></li>
                <li><a href="{{url_for('cat', news_type='军事')}}">军事</a></li>
            </ul>
        </nav>
    </header>
    <!-- /页面头部 -->
    <!-- 新闻内容部分 -->
    <article>
    {% block content %}
    {% endblock %}
    </article>
{% block extrajs %}
{% endblock %}
</body>

</html>